:root {
  --bg-blue-dark: linear-gradient(to right, rgb(58 60 84), rgb(7 16 45));
  --border-blue-dark: 1px solid rgb(30 35 65);

  --bg-blue-light: linear-gradient(to right, rgb(160 190 240), rgb(40 70 120));
  --border-blue-light: 1px solid rgb(50 90 140);

  --bg-purple: linear-gradient(to right, rgb(138 43 226), rgb(60 0 100));
  --border-purple: 1px solid rgb(90 20 130);

  --bg-pink: linear-gradient(to right, rgb(255 182 193), rgb(180 60 100));
  --border-pink: 1px solid rgb(190 80 110);

  --bg-orange: linear-gradient(to right, rgb(255 200 100), rgb(180 80 0));
  --border-orange: 1px solid rgb(190 100 20);

--bg-green: linear-gradient(to right, rgb(80 130 80), rgb(30 70 30));
--border-green: 1px solid rgb(40 90 40);


  --bg-green-teal: linear-gradient(to right, rgb(64 224 208), rgb(0 80 80));
  --border-green-teal: 1px solid rgb(20 100 100);

  --bg-red: linear-gradient(to right, rgb(150 30 30), rgb(70 0 0));
  --border-red: 1px solid rgb(90 10 10);

  --bg-gray: linear-gradient(to right, rgb(120 120 120), rgb(50 50 50));
  --border-gray: 1px solid rgb(70 70 70);

  --bg-black-soft: linear-gradient(to right, rgb(50 50 50), rgb(10 10 10));
  --border-black-soft: 1px solid rgb(30 30 30);
}




.bg-blue-dark {
  background: var(--bg-blue-dark);
  border: var(--border-blue-dark);
}

.bg-blue-light {
  background: var(--bg-blue-light);
  border: var(--border-blue-light);
}

.bg-purple {
  background: var(--bg-purple);
  border: var(--border-purple);
}

.bg-pink {
  background: var(--bg-pink);
  border: var(--border-pink);
}

.bg-orange {
  background: var(--bg-orange);
  border: var(--border-orange);
}

.bg-green {
  background: var(--bg-green);
  border: var(--border-green);
}

.bg-green-teal {
  background: var(--bg-green-teal);
  border: var(--border-green-teal);
}

.bg-red {
  background: var(--bg-red);
  border: var(--border-red);
}

.bg-gray {
  background: var(--bg-gray);
  border: var(--border-gray);
}

.bg-black-soft {
  background: var(--bg-black-soft);
  border: var(--border-black-soft);
}


.icon-bg-bi {
  position: relative;
  overflow: hidden;
}

.icon-bg-bi .bi {
      position: absolute;
      bottom: -10px;
      right: -10px;
      font-size: 100px;
      color: rgba(255, 255, 255, 0.06);
      transform: rotate(-15deg);
      pointer-events: none;
      z-index: 0;
    }



.titleinterno {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  padding: 25px;
  font-size: 25px;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  border-radius: 12px;
}/* From Uiverse.io by alexruix */ 
/*Neo Brutalism pricing card*/



/* From Uiverse.io by Yaya12085 */ 
.cardBox {
  width: 100%;
  background-color: rgb(7 16 45);
/*  background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));*/
/*  background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));*/
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
/*  border: 1px solid rgb(84 90 106);*/
}

.small-text, .title,.desc {
  font-weight: 600;
}

.title,.desc {
  margin: 8px 0;
}

.small-text {
  color: #ffff;
  font-size: 16px;
}

.title {
  color: #fff;
  font-size: 26px;
  line-height: 26px;
}


.subtitle {
  color: #fff;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
}
.desc {
  color: rgb(151 153 167);
  font-size: 13px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 6px;
  text-decoration: none;
}

.button:first-child {
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  background-color: #488aec;
}

.button:last-child {
  box-shadow: 0 4px 6px -1px #0b162531, 0 2px 4px -1px #0e192b17;
  background-color: #fff;
}

.icon {
  height: 25px;
  width: 25px;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon svg:last-child {
  fill: #000
}

.button-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.button-text span:first-child {
  font-size: 12px;
  font-weight: 600;
}

.google span:first-child {
  color: rgb(219 206 253);
}

.apple span:first-child {
  color: rgb(81 87 108);
}

.google span:last-child {
  color: #fff;
  font-weight: 800;
}

.apple span:last-child {
  color: #000;
  font-weight: 800;
}


    .card-custom {
      position: relative;
      color: #fff !important;
      border-radius: 12px;
      overflow: hidden;
      min-width: 5%;
      height: 150px;
    }


    .card-custom .icon-bg {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 70px;
      color: rgba(255, 255, 255, 0.1);
    }








    .tns-item {
      padding-right: 10px;
    }

    .tns-nav {
      text-align: center;
      margin-top: 10px;
    }

    .tns-nav button {
      border: none;
      background: #ccc;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 5px;
      padding: 0;
      opacity: 0.5;
      transition: all 0.3s ease;
    }

    .tns-nav button.tns-nav-active {
      background: #000;
      opacity: 1;
      transform: scale(1.3);
    }

    .shadow-left, .shadow-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  pointer-events: none;
  z-index: 3;
}

.shadow-left {
  left: 0;
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}

.shadow-right {
  right: 0;
  background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}



    .hm-70 {
    	min-height: 70px !important;
    }

/*    BOTÃO LOGOUT*/

/* From Uiverse.io by kennyotsu-monochromia */ 
.Btn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}


/* checkbox das tabelas*/ 
.cbx {
  -webkit-perspective: 20;
  perspective: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px;
  border: 2px solid #e8e8eb;
  background: #e8e8eb;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cbx:hover {
  border-color: #0b76ef;
}

.flip {
  display: block;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  position: relative;
  width: 20px;
  height: 20px;
}

#cbx {
  display: none;
}

#cbx:checked + .cbx {
  border-color: #0b76ef;
}

#cbx:checked + .flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.front {
  background: #fff;
  z-index: 1;
}

.back {
  transform: rotateY(180deg);
  background: #0b76ef;
  text-align: center;
  color: #fff;
  line-height: 20px;
  box-shadow: 0 0 0 1px #0b76ef;
}

.back svg {
  margin-top: 3px;
  fill: none;
}

.back svg path {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}


